In [157]:
pwd

'C:\\Users\\sunandan\\Pandas-Challenge\\HeroesOfPymoli'

In [158]:
import pandas as pd
file = "Resources/purchase_data.csv"
Purchase_Data = pd.read_csv(file)
Purchase_Data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [159]:
print("Player Count")
print("Total no. of players")

Player Count
Total no. of players

In [160]:
unique = Purchase_Data["SN"].unique() #Calculated unique players who purchased the items

In [161]:
Count_Of_Players = len(unique)   #calculated the count of Unique Players
Total_dict = [{"Total Players":Count_Of_Players}]   #Created a dictionary
Total_df = pd.DataFrame(Total_dict)        #created a final data frame for total players
Total_df

   Total Players
0            576

In [162]:
print("Purchasing Analysis (Total)")

Purchasing Analysis (Total)

In [163]:
Unique_Items =  Purchase_Data["Item Name"].unique()
No_Of_Unique_Items = len(Unique_Items)
Average_Price = Purchase_Data["Price"].mean()
Num_Purchases = Purchase_Data["Purchase ID"].count()
Total_Revenue = Purchase_Data["Price"].sum()

In [164]:
Purchasing_Dict =({"Number of Unique Items":No_Of_Unique_Items,
    "Average Price":Average_Price,
    "Number of Purchases":Num_Purchases,
    "Total Revenue":Total_Revenue
})

Purchasing_Analysis_df = pd.DataFrame([Purchasing_Dict])   #Created the data frame
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [165]:
Purchasing_Analysis_df["Average Price"]= Purchasing_Analysis_df["Average Price"].map("${:.2f}".format) #Mapping the formating to column values
Purchasing_Analysis_df["Total Revenue"]= Purchasing_Analysis_df["Total Revenue"].map("${:,}".format)

In [166]:
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [171]:
print("Gender Demographics")

Gender Demographics

[0        Male
 1        Male
 2        Male
 3        Male
 4        Male
         ...
 775    Female
 776      Male
 777      Male
 778      Male
 779      Male
 Name: Gender, Length: 780, dtype: object]

In [176]:
#Purchase_Data.loc[Purchase_Data["Gender"]=="Male"]
Gender = [Purchase_Data["Gender"]]
count = 0
Male_Count = Gender.count("Male")
              #for count in Gender if Gender=="Male"]

[]